{
	"semi": false,
	"singleQuote": false,
	"tabWidth": 4,
	"trailingComma": "none",
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"printWidth": 80,
	"useTabs": true,
	"bracketSpacing": true,
	"htmlWhitespaceSensitivity": "ignore"
}
