@import "tailwindcss";
@import "@fontsource/fira-mono";
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/optional/presets";
@import "@skeletonlabs/skeleton/themes/cerberus";

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

.funnel-display {
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.rendered-chat-message-content p + p {
    margin-top: 1em;
}

.rendered-chat-message-content em {
    @apply text-surface-700-300;
}

.rendered-chat-message-content span.quoted-text {
    @apply text-tertiary-900-100;
}